@import 'fonts/font.css';

.header {
    margin: 0;
}

.logo {
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: 50px center;
    background-size: contain;
    height: 50px;
}

ul.nav {
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-family: 'Aileron Black', Arial, Helvetica, sans-serif;
    color: #233656;
}

.nav--list {
    
}

.featured-item {
    margin: 30px 0;
    text-align: left;
    color: #3c3c3c;
}

.featured-item .title {
    font-family: 'Aileron Semibold', Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    line-height: 0.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-item .author {
    color: #7a9ba6;
    font-weight: regular;
}

.featured-item p {
    line-height: 1.3em;
}

.featured-item-img::before {
    content: '';
    position: relative;
    top: 0;
    height: 300px;
    width: 100%;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    z-index: -1;
    border-radius: 50%;
}

.featured-item-img {
    border-radius: 10px;
    background-image: url(../img/book-cover.png);
    height: 300px;
    width: 100%;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

.featured-item-desc {
    margin-bottom: 50px;
    max-width: 80%;
}

table {
    font-size: 0.8em;
}

select {
    padding: 10px 0;
    height: 40px;
    width: 228px;
    margin-bottom: 10px;
}

.footer {
    margin-top: 50px;
    font-size: 13px;
}