@font-face {
  font-family: 'Aileron Black';
  src: url('Aileron-Black.eot'); /* IE9 Compat Modes */
  src: url('Aileron-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Aileron-Black.woff') format('woff'), /* Modern Browsers */
       url('Aileron-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Aileron-Black.svg#f9b46633d7a0e94b4cb7e766412c01c6') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Aileron';
  src: url('Aileron-Regular.eot'); /* IE9 Compat Modes */
  src: url('Aileron-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Aileron-Regular.woff') format('woff'), /* Modern Browsers */
       url('Aileron-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Aileron-Regular.svg#3f8328f8a89a3e7e931ea050ec4428d2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Aileron SemiBold';
  src: url('Aileron-SemiBold.eot'); /* IE9 Compat Modes */
  src: url('Aileron-SemiBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Aileron-SemiBold.woff') format('woff'), /* Modern Browsers */
       url('Aileron-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Aileron-SemiBold.svg#82115bb78a386866b6dfc6f4db1e40b4') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

